In [3]:
import pandas as pd
import os
import csv

re1718_df=pd.read_sas("../rev_exp/revexp_district_1718.sas7bdat",format='sas7bdat',iterator=False,chunksize=None,encoding="utf-8") #https://pandas.pydata.org/docs/reference/api/pandas.read_sas.html
state = re1718_df['STABBR']
gare1718_df = re1718_df.loc[(state == "GA")]
gare1718_df.head()

,LEAID,CENSUSID,FIPST,CONUM,CSA,CBSA,NAME,STNAME,STABBR,SCHLEV,...,FL_66V,FL_W01,FL_W31,FL_W61,FL_V95,FL_V02,FL_K14,FL_CE1,FL_CE2,FL_CE3
3094,1300001,11514100300000,13,13285,122,29300,Troup County,Georgia,GA,03,...,R,R,R,R,R,R,R,R,R,M
3095,1300005,N,13,13031,496,44340,Commission Charter Schools- CCAT School,Georgia,GA,03,...,R,R,R,R,R,R,R,R,R,M
3096,1300006,11505740100000,13,13115,470,40660,Northwest Georgia RESA,Georgia,GA,07,...,R,R,R,R,R,R,R,R,R,M
3097,1300007,11506140100000,13,13123,N,N,North Georgia RESA,Georgia,GA,07,...,R,R,R,R,R,R,R,R,R,M
3098,1300008,11515440100000,13,13311,N,N,Pioneer RESA,Georgia,GA,07,...,R,R,R,R,R,R,R,R,R,M

In [9]:
county_id=pd.read_csv("countyID_countyname.csv")
county_id.head()

,CONUM,County Name [Public School] 2017-18,Total Number of Public Schools [Public School] 2017-18
0,13001,Appling County,6
1,13003,Atkinson County,4
2,13005,Bacon County,4
3,13007,Baker County,2
4,13009,Baldwin County,7

In [ ]:
rev_exp1718=pd.merge(county_id,gare1718_df,on="CONUM")
rev_exp1718.head()