In [1]:
import os
import pandas as pd

In [2]:
#convert SAS data to pandas dataframes for each of revenue & expenditure (re) data
re1415_df=pd.read_sas("raw_data/rev_exp/revexp_district_1415.sas7bdat",format='sas7bdat',iterator=False,chunksize=None,encoding="utf-8") #https://pandas.pydata.org/docs/reference/api/pandas.read_sas.html
state = re1415_df['STABBR']
gare1415_df = re1415_df.loc[(state == "GA")]

re1516_df=pd.read_sas("raw_data/rev_exp/revexp_district_1516.sas7bdat",format='sas7bdat',iterator=False,chunksize=None,encoding="utf-8") #https://pandas.pydata.org/docs/reference/api/pandas.read_sas.html
state = re1516_df['STABBR']
gare1516_df = re1516_df.loc[(state == "GA")]

re1617_df=pd.read_sas("raw_data/rev_exp/revexp_district_1617.sas7bdat",format='sas7bdat',iterator=False,chunksize=None,encoding="utf-8") #https://pandas.pydata.org/docs/reference/api/pandas.read_sas.html
state = re1617_df['STABBR']
gare1617_df = re1617_df.loc[(state == "GA")]

re1718_df=pd.read_sas("raw_data/rev_exp/revexp_district_1718.sas7bdat",format='sas7bdat',iterator=False,chunksize=None,encoding="utf-8") #https://pandas.pydata.org/docs/reference/api/pandas.read_sas.html
state = re1718_df['STABBR']
gare1718_df = re1718_df.loc[(state == "GA")]

In [3]:
#Next, we merge the data sets on the LEAID variable, the unique variable for the districts across the years
gare1416=pd.merge(gare1415_df,gare1516_df,on="LEAID",suffixes=("_1415", "_1516"))
#gare1416.count()
gare1417=pd.merge(gare1416,gare1617_df,on="LEAID",suffixes=("_1416","_1617"))
#gare1417.count()
gare1418_df=pd.merge(gare1417,gare1718_df,on="LEAID",suffixes=("_1417","_1718"))
gare1418_df.head()

,LEAID,CENSUSID_1415,FIPST_1415,CONUM_1415,CSA_1415,CBSA_1415,NAME_1415,STNAME_1415,STABBR_1415,SCHLEV_1415,...,FL_66V_1718,FL_W01_1718,FL_W31_1718,FL_W61_1718,FL_V95_1718,FL_V02_1718,FL_K14_1718,FL_CE1,FL_CE2,FL_CE3
0,1300001,11514100300000,13,13285,122,29300,Troup County,Georgia,GA,03,...,R,R,R,R,R,R,R,R,R,M
1,1300005,N,13,13031,496,44340,Commission Charter Schools- CCAT School,Georgia,GA,03,...,R,R,R,R,R,R,R,R,R,M
2,1300006,11505740100000,13,13115,470,40660,Northwest Georgia RESA,Georgia,GA,07,...,R,R,R,R,R,R,R,R,R,M
3,1300007,11506140100000,13,13123,N,N,North Georgia RESA,Georgia,GA,07,...,R,R,R,R,R,R,R,R,R,M
4,1300008,11515440100000,13,13311,N,N,Pioneer RESA,Georgia,GA,07,...,R,R,R,R,R,R,R,R,R,M

In [4]:
import csv

gare1418_df.to_csv("rev_exp_bydistrict_2014-2018.csv")

In [6]:
import numpy as np

#Went thru CSV data and converted the following based on notes from the data provider:
#â€ , indicates that the data are not applicable, to NA
#â€“, indicates that the data are missing, to .
#â€¡, indicates that the data do not meet NCES data quality standards, to NA

galunch1419=pd.read_csv("raw_data/lunch/free_reduced_lunch_disctrictcode_2014-2019.csv")
galunch1419=pd.DataFrame(galunch1419)

galunch1419 = galunch1419.rename(columns={"Agency ID - NCES Assigned [Public School] Latest available year":"LEAID"})
galunch1419.to_csv("free_red_lunch_2014-2019.csv")